@font-face {
    font-family: "Gotham Bold";
    src: url("fonts/GothamBold.ttf");
  }
body {
    font-family: "Gotham Bold";
    text-align: center;
    color: white;
    background-color: #5252ad;
}
.box {
    background-color: #004d80;
    background-size: auto;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.box:hover {
    background-color: #4441e6;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
a {
    color: lightgray;
}
button {
    font-family: "Gotham Bold";
    margin-top: 1%;
    color: white;
    background-image:linear-gradient(to top left,#3633ff,#15008a);
    border-radius: 5em;
    border-color: #11006d;
}